h1.name {
  color: blue;
  text-align: center;
  font-family: Arizonia;
  font-size: 55px;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("/home/hc-22/Documents/Carlosf96.github.io/images/background.png");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.content{
  color: blue;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.responsive{
   max-width: 100%;
  height: auto; 
}
.float-button{
  position: center;
  right: -77px
  top: 250px;
  transition: all 0.2 ease-in 2s
  z-index: 9999;
  cursor: pointer;
}
.float-button:hover {
  right: -5px
}
.buttons{
  text-align: center;
}