h1.name {
  color: blue;
  text-align: center;
  font-family: Arizonia;
  font-size: 55px;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("/home/hc-22/Documents/Carlosf96.github.io/images/background.png");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.content{
  color: blue;
}
.content2{
  color: blue;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.responsive{
   max-width: 100%;
  height: auto; 
}


.btn-grp{
  text-align: center;
}
.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,.24)
}
.button{

  background-color: #42ebf4;
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  text-align: center;
}
